<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="icon" href="img/RHbCcen-squirrel-clipart.jpg">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <title>Group35 | About Us</title>

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body onload="myFunction()">
    <div id="loading"></div>

    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div id="logo">
                    <img src="img/RHbCcen-squirrel-clipart.jpg" alt="logoimage" srcset="">
                </div>

                <a class="navbar-brand absolute" href="index">Group35</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">species</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="species/Hedgehog">Hedgehog</a>
                                <a class="dropdown-item" href="species/Peregrine Falcon">Peregrine Falcon</a>
                                <a class="dropdown-item" href="species/Otter">Otter</a>
                                <a class="dropdown-item" href="species/RedSquirrel">Red Squirrel</a>
                                <a class="dropdown-item" href="species/Butterfly">Butterfly</a>
                                <a class="dropdown-item" href="species/Dove">Dove</a>
                            </div>              </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">events</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="events/create">Create an event</a>
                                <a class="dropdown-item" href="events/join">Join an event</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="../organisation/ptoes">Peoples Trust For Endangered Species</a>
                                <a class="dropdown-item" href="organisation/espa">Endangered Species Protection Agency</a>
                                <a class="dropdown-item" href="organisation/zsl">Zoological Society of London</a>
                                <a class="dropdown-item" href="organisation/arc">Animal Rescue and Care</a>
                                <a class="dropdown-item" href="organisation/bdch">Battersea Dogs and Cats Home</a>
                                <a class="dropdown-item" href="organisation/lwt">London Wildlife Trust</a>
                                <a class="dropdown-item" href="organisation/ww">Willow Wildlife</a>
                                <a class="dropdown-item" href="organisation/twl">The Wildlife Lodge</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello,user</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="login">Logout</a>
                            </div>
                        </li>
                    </ul>


                </div>

            </div>
        </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>About Us</h1>
              <p class="mb-0">Group35app is an online available, searchable database of about 300+ species who needs care. It is also a directory of
                nearby animal charities across various areas in Uxbridge, as well as outside the hyperlocal area.</p>
              <p><a href="#abou" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- END slider -->

    <section>
      <div class="half d-md-flex d-block">
        <div class="image" style="background-image: url('img/bg5.jpg')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-0">Our Mission</h3>
          <p class="mb-0">Our group project is about life on land.</p>
          <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
        </div>
      </div>

    </section>
    
  <section class="section bg-light">
          <div class="row element-animate">
            <div class="major-caousel js-carousel-1 owl-carousel">
              <div>
                <div class="media d-block media-custom text-center">
                  <div class="media-body">
                    <h6 class="mt-0 text-black">Anmol Kainth</h6>
                                      <h3 class="mt-0 text-black">Full-Stack</h3>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <div class="media-body">
                    <h6 class="mt-0 text-black">Shayiq Solayman</h6>
                                      <h3 class="mt-0 text-black">Frontend</h3>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <div class="media-body">
                    <h6 class="mt-0 text-black">Matthew Simms</h3>
                                      <h3 class="mt-0 text-black">Database</h6>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <div class="media-body">
                    <h6 class="mt-0 text-black">Bradley Fernandes</h6>
                                      <h3 class="mt-0 text-black">Frontend</h3>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <div class="media-body">
                    <h6 class="mt-0 text-black">Sami Niazi</h6>
                                      <h3 class="mt-0 text-black">Frontend</h3>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <div class="media-body">
                    <h6 class="mt-0 text-black">Luis Miguel Marinho Cardoso Moreira</h6>
                                      <h3 class="mt-0 text-black">Frontend</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- END section -->

    
{{>footer}}

</html>