<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="icon" href="img/RHbCcen-squirrel-clipart.jpg">

    <link rel="stylesheet" href="css/style.css">
    <title>Group35 | Home</title>
  </head>
  <body onload="myFunction()">
    <div id="loading"></div>

    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div id="logo">
                    <img src="img/RHbCcen-squirrel-clipart.jpg" alt="logoimage" srcset="">
                </div>

                <a class="navbar-brand absolute" href="index">Group35</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">species</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="species/Hedgehog">Hedgehog</a>
                                <a class="dropdown-item" href="species/Peregrine Falcon">Peregrine Falcon</a>
                                <a class="dropdown-item" href="species/Otter">Otter</a>
                                <a class="dropdown-item" href="species/RedSquirrel">Red Squirrel</a>
                                <a class="dropdown-item" href="species/Butterfly">Butterfly</a>
                                <a class="dropdown-item" href="species/Dove">Dove</a>
                            </div>              </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">events</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="login">Create an event</a>
                                <a class="dropdown-item" href="login">Join an event</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="../organisation/ptoes">Peoples Trust For Endangered Species</a>
                                <a class="dropdown-item" href="organisation/espa">Endangered Species Protection Agency</a>
                                <a class="dropdown-item" href="organisation/zsl">Zoological Society of London</a>
                                <a class="dropdown-item" href="organisation/arc">Animal Rescue and Care</a>
                                <a class="dropdown-item" href="organisation/bdch">Battersea Dogs and Cats Home</a>
                                <a class="dropdown-item" href="organisation/lwt">London Wildlife Trust</a>
                                <a class="dropdown-item" href="organisation/ww">Willow Wildlife</a>
                                <a class="dropdown-item" href="organisation/twl">The Wildlife Lodge</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello,user</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="login">Logout</a>
                            </div>
                        </li>
                    </ul>


                </div>

            </div>
        </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('img/HWPDavidBarclay_16Jul10.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>We Protect Endangered Species</h1>
              <p><a href="#star" class="btn btn-white btn-outline-white">Learn How</a> </p>
            </div>
          </div>
        </div>

      </div>

      <div class="slider-item" style="background-image: url('img/_116155064_hwpcat.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Care for Endangered Speciess</h1>
              <p><a href="#start" class="btn btn-white btn-outline-white">Get Started</a> </p>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <!-- END slider -->

    <section class="section element-animate">
      <div class="container">
        <div class="row justify-content-center mb-0">
          <div class="col-md-2"></div>
          <div class="col-md-8 section-heading">
            <h2 id="start">Life of Endangered Species</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-0">
            <img src="img/_116155066_campercats.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-4">
            <p>The most serious threat to wildcats in the UK is interspeciesing (or hybridization) with domestic and feral cats. There may only be as few as 400 true, genetically distinct wildcats left in Scotland. Interspeciesing further reduces their numbers as the genes become mixed with other cat species. But exactly how hybridisation affects wildcats isn’t completely clear. We need a much a better understanding of the extent and impact of interspeciesing to stand a chance of saving them.


            </p>
          </div>
          <div class="col-md-4">
            <p>Wildcats were once found throughout the UK. The last remaining populations in the Scottish Highlands are now critically endangered and at serious risk of extinction.<span id="dots">...</span>
               <span id="more"> Seven miles later,
              Dozer crossed the finish line of the Maryland Half Marathon, a fundraising event for the University of 
              Maryland's Greenebaum Cancer Center. The runners did not know Dozer was alone. He returned home the next day, 
              looking so tired that his owners took him to the vet. Word got around, and they realized Dozer was the Endangered Species on the
              marathon's TV coverage. Marathon organizers gave Dozer a special award. Now he has his own runner's page and Facebook
              fan page -and he's raised $21,000 for the cancer center!</span>
            </p>
            <!-- <p><a href="">Learn More <span class="ion-ios-arrow-right"></span></a></p> -->
            <p><button onclick="bu()" id="bu">Learn More <span class="ion-ios-arrow-right"></span></button></p>

          </div>
        </div>
      </div>
    </section>
    
    <section class="section bg-light">
        <div class="row element-animate">
          <div class="major-caousel js-carousel-1 owl-carousel">
            <div>
              <div class="media d-block media-custom text-center">
                <div class="media-body">
                  <h6 class="mt-0 text-black">Anmol Kainth</h6>
                                    <h3 class="mt-0 text-black">Full-Stack</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <div class="media-body">
                  <h6 class="mt-0 text-black">Shayiq Solayman</h6>
                                    <h3 class="mt-0 text-black">Frontend</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <div class="media-body">
                  <h6 class="mt-0 text-black">Matthew Simms</h3>
                                    <h3 class="mt-0 text-black">Database</h6>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <div class="media-body">
                  <h6 class="mt-0 text-black">Bradley Fernandes</h6>
                                    <h3 class="mt-0 text-black">Frontend</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <div class="media-body">
                  <h6 class="mt-0 text-black">Sami Niazi</h6>
                                    <h3 class="mt-0 text-black">Frontend</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <div class="media-body">
                  <h6 class="mt-0 text-black">Luis Miguel Marinho Cardoso Moreira</h6>
                                    <h3 class="mt-0 text-black">Frontend</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-0 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-0">Endangered Species</h2>
            </p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="species/Hedgehog" class="link-thumbnail">
              <h3>Hedgehog</h3>
              <span class="ion-plus icon"></span>
              <img src="img/hedgehog.png" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="species/Peregrine Falcon" class="link-thumbnail">
              <h3>Peregrine Falcon</h3>
              <span class="ion-plus icon"></span>
              <img src="img/49E6B37800000578-0-image-a-12_1520295606126.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="species/RedSquirrel" class="link-thumbnail">
              <h3>Red Squirrel</h3>
              <span class="ion-plus icon"></span>
              <img src="img/red-squirrel-web__large.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="species/Butterfly" class="link-thumbnail">
              <h3>Butterfly</h3>
              <span class="ion-plus icon"></span>
              <img src="img/36310061556-small-tortoiseshell-aglais-urticae.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="species/Otter" class="link-thumbnail">
              <h3>Otter</h3>
              <span class="ion-plus icon"></span>
              <img src="img/GettyImages-509291231-be20ccc.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="species/Dove" class="link-thumbnail">
              <h3>Dove</h3>
              <span class="ion-plus icon"></span>
              <img src="img/GettyImages-147952084-ba149d0.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->

    

    <!-- Organisations section -->
    <section class="section border-t bo bg-light">
      <!-- <div class="container main"> -->
        <div class="row justify-content-center mb-0 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-0">Endangered Species Organisations</h2>
            </p>
          </div>
        </div>

    <!-- <section> -->
<div class="main">
        <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/ptoes">Peoples Trust For Endangered Species</a></h2>
            </div>

          </div>
        <div class="card">
            <div class="card-text">
              <h2><a class="orgname" href="organisation/espa">Endangered Species Protection Agency</a></h2>
            </div>

           </div>
        <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/zsl">Zoological Society of London</a></h2>
            </div>

          </div>
        <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/arc">Animal Rescue and Care</a></h2>
            </div>

           </div>
        <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/bdch">Battersea Dogs and Cats Home</a></h2>
            </div>

             </div>
        <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/lwt">London Wildlife Trust</a></h2>
            </div>

          </div>
        <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/ww">Willow Wildlife</a></h2>
            </div>

          </div>
          <div class="card">
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/twl">The Wildlife Lodge</a></h2>
            </div>

          </div>
    </div>
    <!-- organisation section end  -->

    <section class="section blog">
      <div class="container">

        <div class="row justify-content-center mb-0 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-0">Recent Blog Post</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="media mb-0 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="img/_114043930_p07h0k6l.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">February,2021</span>
                <h3 class="mt-2 text-black"><a href="#">How to Learn About Endangered Species</a></h3>
                <p><a href="blog" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>



          </div>
          <div class="col-md-6">
            <div class="media mb-0 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="img/ani5.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">April,2020</span>
                <h3 class="mt-2 text-black"><a href="#">Find The Right Charity for your favourite species</a></h3>
                <p><a href="blog" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>

            <div class="media mb-0 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="img/blog_3.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">November,2020</span>
                <h3 class="mt-2 text-black"><a href="#">Domestic Pets's Affections To Owner</a></h3>
                <p><a href="blog" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    
{{>footer}}

</html>