  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <link rel="stylesheet" href="../fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">
    <title>Group35 | Organisation</title>
    <link rel="icon" href="../img/RHbCcen-squirrel-clipart.jpg">

    <!-- Theme Style -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body onload="myFunction()">
    <div id="loading"></div>

    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div id="logo">
                    <img src="img/RHbCcen-squirrel-clipart.jpg" alt="logoimage" srcset="">
                </div>

                <a class="navbar-brand absolute" href="index">Group35</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">species</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="species/Hedgehog">Hedgehog</a>
                                <a class="dropdown-item" href="species/Peregrine Falcon">Peregrine Falcon</a>
                                <a class="dropdown-item" href="species/Otter">Otter</a>
                                <a class="dropdown-item" href="species/RedSquirrel">Red Squirrel</a>
                                <a class="dropdown-item" href="species/Butterfly">Butterfly</a>
                                <a class="dropdown-item" href="species/Dove">Dove</a>
                            </div>              </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">events</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="events/create">Create an event</a>
                                <a class="dropdown-item" href="events/join">Join an event</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="../organisation/ptoes">Peoples Trust For Endangered Species</a>
                                <a class="dropdown-item" href="organisation/espa">Endangered Species Protection Agency</a>
                                <a class="dropdown-item" href="organisation/zsl">Zoological Society of London</a>
                                <a class="dropdown-item" href="organisation/arc">Animal Rescue and Care</a>
                                <a class="dropdown-item" href="organisation/bdch">Battersea Dogs and Cats Home</a>
                                <a class="dropdown-item" href="organisation/lwt">London Wildlife Trust</a>
                                <a class="dropdown-item" href="organisation/ww">Willow Wildlife</a>
                                <a class="dropdown-item" href="organisation/twl">The Wildlife Lodge</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello,user</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="login">Logout</a>
                            </div>
                        </li>
                    </ul>


                </div>

            </div>
        </nav>
    </header>
    <!-- END header -->