<!doctype html>
<html lang="en">

{{>orgheader}}

    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/slider-1.jpg');">

        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Zoological Society of London</h1>
              <p class="mb-0">Zoological Society of London offers the highest quality specialized medical and surgical care available for Endangered Species.</p>
              <p><a href="#abou" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317744.42893949716!2d-0.6278142957604651!3d51.524619971767834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ae807cb7c41%3A0x1e021ca503a25789!2sZoological%20Society%20of%20London!5e0!3m2!1sen!2suk!4v1643637345715!5m2!1sen!2suk" width="1950" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{{>otherfooter}}

   </html>